@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: Open Sans;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

/* Color Codes */

.dark01 {
  color: #181818;
}

.dark02 {
  color: #474747;
}

.dark03 {
  color: #757575;
}

.logo {
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0%;
  /* text-align: left; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 30px 180px;
  /* padding: 20px 15px 0px 150px; */
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.orange {
  color: #fd6e0a;
}

.navbar .link-tag {
  margin-right: 50px;
}

.navbar .link-tag a {
  text-decoration: none;
  margin-right: 50px;
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
}

.btn-primary {
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  padding: 8px 10px;
  border: none;
  background: rgb(253, 110, 10);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgb(236, 101, 4);
  color: rgb(0, 0, 0);
  transition: 0.3s;
=======

nav ul {
  display: flex;
}
nav > ul > li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
>>>>>>> main
}

/* Header img */

header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  margin: 38px 0px 25px 23px;
}

.text-primary {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.text-secondary {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 185px;
}

.banner-profile-img {
  width: 584px;
}

.banner-content {
  max-width: 585px;
  height: 356px;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 230px;
}
.description {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
